APScheduler==3.6.3
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==3.2
decorator==4.4.1
future==0.18.2
idna==2.9
peewee==3.13.1
pycparser==2.19
PySocks==1.7.1
python-telegram-bot==12.4.2
pytz==2019.3
requests==2.23.0
six==1.14.0
tornado==6.0.3
tzlocal==2.0.0
urllib3==1.25.8
